basic_examples/conversation/conversation_lab.json
[
    {
        "id": "fd7e04ce.af46b8",
        "type": "watson-conversation-v1",
        "z": "11dec9e1.957c26",
        "name": "My Bot",
        "workspaceid": "75fcabe1-d1b5-4bdf-bfec-970ca495505b",
        "x": 503,
        "y": 231,
        "wires": [
            [
                "d8832d1f.0eed6"
            ]
        ]
    },
    {
        "id": "4d4aab8.ad9d154",
        "type": "http in",
        "z": "11dec9e1.957c26",
        "name": "BOT Home Page",
        "url": "/bot",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 228,
        "y": 125,
        "wires": [
            [
                "3184555.45fd1aa"
            ]
        ]
    },
    {
        "id": "3184555.45fd1aa",
        "type": "template",
        "z": "11dec9e1.957c26",
        "name": "Conversation BOT Template",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>My BOT</title>\n\t<link rel=\"stylesheet\" type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\" class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>My BOT</h1>\n      <table id=id_botchathistory style=\"max-width:500px;margin:auto;cellspacing:3px;border: 3px solid orange\">\n      </table>\n      <div>\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/><br/>\n\t      <button type=submit onclick=\"javascript:onChatClick()\">Send</button>\n\t  </div>\n    </div>\n    <script src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script type=\"text/javascript\">\n\n      $(document).ready(function() {\n          javascriptCheck();\n          \t$('#id_contextdump').hide();\n          $(\"#id_chattext\").keyup(function(event) {\n            if(event.keyCode == 13) {\n                onChatClick();\n            }\n          });\n      });\n\n      // if javascript is enabled on the browser then can\n      // remove the warning message\n      function javascriptCheck() {\n        $('#no-script').remove();\n      }\n\n      function createNewDiv(who, message,align,color) {\n        var txt = who + ' : ' + message;\n        return $('<tr><td style=\"padding: 5px;color: '+color+'\"><b>'+who+'</b></td><td style=\"text-align:'+align+';color: '+color+'\">'+message+'</td></tr></tr>');\n      }\n\n      function chat(person, txt,align,color) {\n        $('#id_botchathistory').append(createNewDiv(person, txt,align,color));\n      }    \n\n      function processOK(response) {\n        console.log(response);\n        console.log(response.botresponse.messageout);\n        console.log(response.botresponse.messageout.output.text);\n        console.log(response.botresponse.messageout.context);\n        chat('Bot', response.botresponse.messageout.output.text,'right','blue');\n        $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n      }\n\n      function processNotOK() {\n        chat('Error', 'Error whilst attempting to talk to Bot','center','red');\n      }\n\n      function invokeAjax(message) {\n        var contextdata = $('#id_contextdump').data('convContext');\n        console.log('checking stashed context data');\n        console.log(contextdata);\n\n        var ajaxData = {};\n        ajaxData.msgdata = message;\n        if (contextdata) {\n          ajaxData.context = contextdata;    \n        }\n\n        $.ajax({\n          type: 'POST',\n          url: 'botchat',\n          data: ajaxData,\n          success: processOK,\n          error: processNotOK\n        });\n      }\n\n      // User has entered some text.\n      function onChatClick() {\n        var txt = $('#id_chattext').val();\n        chat('Human', txt,'left','green');\n        invokeAjax(txt);\n        $('#id_chattext').val(\"\");\n      }\n    </script>\n  </body>\n</html>\n",
        "output": "str",
        "x": 462,
        "y": 125,
        "wires": [
            [
                "e77fd854.5e4fb8"
            ]
        ]
    },
    {
        "id": "e77fd854.5e4fb8",
        "type": "http response",
        "z": "11dec9e1.957c26",
        "name": "",
        "x": 698,
        "y": 125,
        "wires": []
    },
    {
        "id": "aed5fcdc.ba7f8",
        "type": "http in",
        "z": "11dec9e1.957c26",
        "name": "BOT REST API",
        "url": "/botchat",
        "method": "post",
        "swaggerDoc": "",
        "x": 216,
        "y": 232,
        "wires": [
            [
                "a5df3cd6.271d7"
            ]
        ]
    },
    {
        "id": "3e8c4351.f8d3fc",
        "type": "http response",
        "z": "11dec9e1.957c26",
        "name": "",
        "x": 765,
        "y": 228,
        "wires": []
    },
    {
        "id": "a5df3cd6.271d7",
        "type": "function",
        "z": "11dec9e1.957c26",
        "name": "Pre Service Processing",
        "func": "// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 320,
        "wires": [
            [
                "fd7e04ce.af46b8"
            ]
        ]
    },
    {
        "id": "d8832d1f.0eed6",
        "type": "function",
        "z": "11dec9e1.957c26",
        "name": "Post Service Processing",
        "func": "msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 643,
        "y": 324,
        "wires": [
            [
                "3e8c4351.f8d3fc"
            ]
        ]
    }
]
